<div class="test-box">
    <p class="text-left">I am using .text-left</p>
</div>
<div class="test-box">
    <p class="text-right">I am using .text-right</p>
</div>
<div class="test-box">
    <p class="text-center">I am using .text-center</p>
</div>
<div class="test-box">
    <p class="text-justify"><strong>I am using .text-justify</strong>
        Rize bai mudan taro steep irish breakfast honeydew infusion ginger bai
        mudan hong yixing irish breakfast white steep mug boba hojicha.
        Chamomile jasmine kombucha taro sachet lychee bai mudan loose leaf
        tisane bai mudan lapsang souchong steep kukicha.</p>
</div>
<div class="test-box">
    <p class="text-start">I am using .text-start</p>
</div>
<div class="test-box">
    <p class="text-end">I am using .text-end</p>
</div>