/* ============================================================
    ALERTS
============================================================ */

.callout {
    &.alert {
        //Closable alerts
        background-color: $midnight;
        color: $off-white;
        font-weight: 500;
        box-shadow: rem-calc(1px -1px 8px 0px) rgba(23, 23, 23, 0.55);
        //bottom: 0 !important;
        button.close-button {
            color: $white;
        }

        p > a {
            background-image: linear-gradient($smoke, $smoke) !important;
            color: $smoke !important;

            &:hover {
                background-color: $smoke;
                color: $midnight !important;
            }

            &.arrow {
                background-color: transparent !important;

                &:after {
                    color: $smoke;
                }

                &:hover {
                    color: $smoke !important;

                    &:after {
                        color: $smoke;
                    }
                }
            }
        }
    }
}

.alert {
    //Regular alerts
    padding: rem-calc(30px);
    font-weight: 900;
    font-size: rem-calc(20px);

    p {
        margin: 0;
    }

    &.sitewide {
        background-color: $golden;
    }
}

.grid-container {
    .alert {
        background-color: $rivermist;

        &.blue {
            background-color: $rivermist;
        }

        &.grey {
            background-color: $limestone;
        }
    }
}
