/* ============================================================
    BUTTONS
============================================================ */

.button {
    background-color: $orange-main;
    border-radius: rem-calc(5px);
    color: $off-white;
    font-size: rem-calc(18px);
    font-weight: 500;
    box-shadow: $shadow-2;

    &.white {
        background-color: $off-white;
        color: $orange-main;
    }

    &.ghost {
        border: rem-calc(1px) solid $orange-main;
        background-color: $off-white;
        color: $orange-main;
    }
}

.button:hover,
.button:focus {
    background-color: $midnight;
    color: $off-white;
}

.button.ghost:hover,
.button.ghost:focus {
    background-color: $orange-main;
}

.button-group {
    .button {
        font-weight: 500;
        margin-right: rem-calc(24px) !important; //test to remove
        font-size: rem-calc(18px);
    }
}

.hero {
    .button {
        font-weight: 700;
        padding-top: rem-calc(22px);
        padding-bottom: rem-calc(22px);
    }

    &.button-group {
        &.button {
            font-weight: 700;
            font-size: rem-calc(18px);
        }
    }

    .orange {
        .button {
            background-color: $off-white;
            color: $orange-main;
        }

        .button:hover {
            background-color: darken($white, 20%);
        }

        .button-group {
            .button {
                background-color: $off-white;
                color: $orange-main;
            }

            .button:hover {
                background-color: darken($white, 20%);
            }
        }
    }
}

.bleed {
    &.color {
        .button {
            background-color: $off-white;
            color: $orange-main;

            &.ghost {
                border: rem-calc(1px) solid $off-white;
                background-color: transparent;
                color: $off-white;
            }

            &.ghost:hover {
                background-color: rgba(23, 23, 23, 0.5);
            }
        }

        .button:hover {
            background-color: $midnight;
            color: $off-white;
        }

        .off-white {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange-main;
                    background-color: $off-white;
                    color: $orange-main;
                }
            }
        }

        .white {
            .button {
                background-color: $orange-main;
                color: $off-white;

                &:hover,
                &:focus {
                    background-color: $midnight;
                    color: $off-white;
                }

                &.ghost {
                    border: rem-calc(1px) solid $orange-main;
                    background-color: $off-white;
                    color: $orange-main;

                    &:hover,
                    &:focus {
                        background-color: $orange-main;
                        color: $off-white;
                    }
                }
            }
        }

        .light-grey {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange-main;
                    background-color: $off-white;
                    color: $orange-main;
                }
            }
        }

        .beige {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange-main;
                    background-color: $off-white;
                    color: $orange-main;
                }
            }
        }

        .dark-beige {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange-main;
                    background-color: $off-white;
                    color: $orange-main;
                }
            }
        }

        .light-beige {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange-main;
                    background-color: $off-white;
                    color: $orange-main;
                }
            }
        }
    }
}

@media screen and (max-width: 465px) {
    .button {
        width: 100%;
    }

    .button-group {
        flex-direction: column;

        .button {
            width: 100%;
            margin-bottom: rem-calc(20px);
        }
    }
}
