/* ============================================================
    STATIC CALLOUTS
============================================================ */

.callout {
    color: $off-black;
    border: none;
    background-color: $concrete;
    padding: rem-calc(30px);
    //display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;

    &.roomy {
        padding: rem-calc(60px);
    }

    &.beige {
        background-color: $clay;
    }

    &.dark-beige {
        background-color: $brass;
    }

    &.light-grey {
        background-color: $smoke;
    }

    &.white {
        background-color: $white;
    }

    &.outline {
        border: rem-calc(1px) solid $smoke !important;
        background-color: $white !important;

        &.blue {
            border-color: $talavera !important;
        }
    }

    &.nested {
        border: rem-calc(15px) solid $talavera !important;
        border-radius: 0px !important;
        background-color: $white !important;

        &.orange {
            border-color: $orange-main !important;
        }
    }

    &.jump-right {
        margin-right: rem-calc(-2.75em);
        margin-bottom: 0;

        @media screen and (max-width: $small-screen) {
            margin-right: 0;
        }
    }

    &.jump-left {
        margin-left: rem-calc(-2.75em);
        margin-bottom: 0;

        @media screen and (max-width: $small-screen) {
            margin-left: 0;
        }
    }

    hr {
        margin: 0 auto 1.11111rem auto;
    }
}

//---------White callouts on .color bleeds default
.bleed {
    &.color .callout {
        background-color: $white !important;
        color: $off-black !important;

        .fa-circle {
            color: $concrete;
        }

        &:hover {
            .fa-circle {
                color: $midnight;
            }
        }

        p,
        figcaption,
        blockquote {
            color: $off-black !important;
        }

        p.color {
            color: $talavera !important;
        }
    }
}

.sidecar {
    .callout {
        background-color: $midnight;
        color: $off-white;
    }

    .outline {
        border-color: $smoke !important;
        background-color: $white;
        color: $off-black;

        @media screen and (max-width: $medium-screen) {
            margin-bottom: 0;
        }
    }

    &.light-beige {
        background-color: $white !important;

        .callout {
            background-color: $concrete !important;
            color: $off-black;
        }

        .outline {
            border-color: $golden !important;
            border-right: none !important;
            background-color: $white !important;

            @media screen and (max-width: $medium-screen) {
                border: rem-calc(1px) solid $golden !important;
            }
        }
    }

    &.grey {
        .callout {
            background-color: $smoke;
            color: $off-black;
        }

        .outline {
            border-color: $midnight !important;
            border-right: none !important;

            @media screen and (max-width: $medium-screen) {
                border: rem-calc(1px) solid $midnight !important;
            }
        }
    }
}

/* ============================================================
    INTERACTIVE CALLOUTS
============================================================ */

a.callout {
    display: block;
    background-color: $orange-main;
    transition: background-color 0.5s ease-in-out;
    color: $off-white;
    border-radius: 5px;
    /*make variable*/
    text-align: center;
    @extend %jump-base;

    .ruled {
        border-bottom: 1px solid $off-white;
    }

    .fa-circle {
        color: rgba(23, 23, 23, 0.35);
        transition: color 0.52s ease-out;
    }

    &.darken

    /*replace w/ dark-orange*/ {
        .fa-circle {
            color: rgba(241, 245, 247, 0.35);
        }
    }

    &.dark-grey {
        .fa-circle {
            color: rgba(241, 245, 247, 0.35);
        }
    }

    &.noise {
        background: $orange-main url(../images/noise-texture.png);
    }

    &.rocky {
        background: $orange-main url(../images/rockywall-texture.png);
    }

    &.special {
        text-align: left;
        background: linear-gradient(
            to bottom,
            $off-white 0%,
            $off-white 25%,
            $off-white 50%,
            $off-white 75%,
            $golden 75.1%,
            $golden 78%,
            $midnight 78.1%,
            $midnight 100%
        );

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $orange-main;
        }

        p {
            color: $off-black;
        }

        .circle {
            text-align: right;

            .fa-circle {
                color: $orange-main;
                text-shadow: 3px 3px 7px rgb(23, 23, math.div(23, 35));
                transition: none;
            }
        }
    }

    &.outline {
        text-align: unset;
        color: $off-black;
    }
}

a.callout:hover {
    background-color: $midnight !important;
    color: $off-white !important;
    @extend %jump-hover;

    .fa-circle {
        color: rgba(241, 245, 247, 0.35);
    }

    &.noise {
        background: $midnight url(../images/noise-texture.png) !important;
    }

    &.rocky {
        background: $midnight url(../images/rockywall-texture.png) !important;
    }

    &.darken {
        background-color: $orange-main !important;
    }

    &.blue {
        background-color: $midnight !important;
    }

    &.grey {
        background-color: $midnight !important;

        .fa-circle {
            color: rgba(241, 245, 247, 0.35);
        }
    }

    &.dark-grey {
        background-color: $smoke !important;
    }

    &.special {
        background: none;
        background-color: $midnight !important;
        transition: 0.5s ease-out !important;

        & h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $off-white;
        }

        & .fa-circle {
            color: $off-white;
        }

        & .fa-inverse {
            color: $orange-main;
        }
    }

    &.outline {
        color: $off-white;
    }
}

.test-box {
    background-color: $talavera;
    //width: 200px;
    padding: 15px;
    color: $off-white;
    text-align: center;
    margin-bottom: 1rem;
}

.test-outline {
    border: 1px solid $orange-main;
}
