/* ============================================================
    COLORS
============================================================ */

@use "variables" as *;
@use "sass:math" as math;
@use "sass:color" as color;

// ======= Neutral

.concrete {
    background-color: $concrete;
}

.clay {
    background-color: $clay;
}

.brass {
    background-color: $brass;
}

.smoke {
    background-color: $smoke;
}

.talavera {
    background-color: $talavera;
    color: $off-white;
}

.golden {
    color: $golden;
}

.duo-theme-health {
    --fa-secondary-opacity: 0.25;
    --fa-primary-color: #ad4200;
    --fa-secondary-color: #ad4200;
}

.duo-theme-utsa {
    --fa-secondary-opacity: 1;
    --fa-primary-color: #f55600;
    --fa-secondary-color: #265bf7;
}
