/* ============================================================
    COLORS
============================================================ */

// ======= Neutral

.concrete {
    background-color: $concrete;
}

.clay {
    background-color: $clay;
}

.brass {
    background-color: $brass;
}

.smoke {
    background-color: $smoke;
}

.talavera {
    background-color: $talavera;
    color: $off-white;
}

.golden {
    color: $golden;
}
