@use "variables" as *;
@use "sass:math" as math;
@use "sass:color" as color;

.ankle .grid-wrapper {
    padding: unset;
}

.ankle .grid-wrapper .grid {
    margin-top: 0;
}

.ankle h3,
h4 {
    margin-top: 1rem;
}
.ankle .left {
    background-color: #dbe8ff;
    padding: 1rem;
}

.ankle .right {
    background-color: $rivermist;
    padding: 1rem;
}

.ankle a:not(.callout).fa-stack {
    color: $midnight;
}
.ankle a:not(.callout):hover .fa-circle {
    color: $orange-main;
}
footer {
    background-color: $midnight;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $rivermist;
    }
    p {
        color: $off-white;
        font-size: 1rem;
        font-weight: 400;
    }
    address {
        color: $off-white;
        font-size: 1rem;
        font-weight: 400;
    }
    a:not(.callout).fa-stack {
        color: $off-white;
    }
    a:not(.callout):hover .fa-circle {
        color: $orange-main;
    }
    a:not(.callout).fa-stack i.fa-inverse {
        color: $midnight;
    }
    ul.arrow.journey {
        columns: 3;
        gap: 2rem;
        padding: 0;

        li {
            line-height: 1.5;
            margin-bottom: 0.5rem;
        }
    }
    ul.arrow.journey > li::before {
        color: $talavera;
    }
    a {
        color: $off-white;
        text-decoration: underline;
        font-weight: 400;
    }
    a:not(.fa-stack):hover {
        background-color: $off-white;
        color: $off-black;
        padding: 3px;
    }
    ul.bottom {
        display: inline-block;
        font-size: 0.875rem;
    }
    ul.bottom li {
        display: inline-block;
        margin: 0 0.75rem 0 0;
    }
    ul.bottom li:first-child {
        color: $off-white;
    }
    ul.bottom li:first-child::after {
        content: "|";
        margin: 0 0 0 0.75rem;
    }

    .grid-wrapper {
        padding: 1.66rem;
    }

    .university {
        position: relative;
    }
    .university::before {
        background-position: center top;
        background-size: contain;
        content: "";
        display: block;
        height: 3.125rem;
        background-image: url(https://www.utsa.edu/_files/images/backgrounds/bg-waves-border.svg);
        background-color: transparent;
        top: -3.125rem;
        position: absolute;
        width: 100%;
    }
    .university::after {
        content: "";
        display: block;
        height: 8.4375rem;
        background-image: url(https://www.utsa.edu/_files/images/backgrounds/bg-waves.svg);
    }

    .right {
        text-align: right;
    }

    .left img {
        height: 32px;
        margin-bottom: 1rem;
    }

    .campus-links ul {
        margin: 0;
    }

    .social-icons a:hover {
        background-color: transparent;
    }

    .campus-links ul li {
        list-style-type: none;
        display: inline;
        margin-right: 0.5rem;
        border-right: 1px solid $off-white;
    }

    .campus-links ul li a {
        padding-right: 0.5rem;
    }

    .campus-links ul li:last-of-type {
        margin-right: 0;
    }
}

@media screen and (max-width: $small-screen) {
    .ankle .grid-wrapper {
        margin: unset;
    }
    footer .standard {
        text-align: center;
    }

    footer .standard .right {
        text-align: center;
    }
}
