@use "variables" as *;
@use "sass:math" as math;
@use "sass:color" as color;

footer {
    background-color: $midnight;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $rivermist;
    }
    p {
        color: $off-white;
        font-size: 1rem;
        font-weight: 400;
    }
    address {
        color: $off-white;
        font-size: 1rem;
        font-weight: 400;
    }
    a:not(.callout).fa-stack {
        color: $off-white;
    }
    a:not(.callout).fa-stack i.fa-inverse {
        color: $midnight;
    }
    ul.arrow.journey {
        columns: 3;
        gap: 2rem;
        padding: 0;

        li {
            line-height: 1.5;
            margin-bottom: 0.5rem;
        }
    }
    ul.arrow.journey > li::before {
        color: $talavera;
    }
    a {
        color: $off-white;
        text-decoration: underline;
        font-weight: 400;
    }
    ul.bottom {
        display: inline-block;
        font-size: 0.875rem;
    }
    ul.bottom li {
        display: inline-block;
        margin: 0 0.75rem 0 0;
    }
    ul.bottom li:first-child {
        color: $off-white;
    }
    ul.bottom li:first-child::after {
        content: "|";
        margin: 0 0 0 0.75rem;
    }

    .grid-wrapper {
        padding: 1.66rem;
    }

    .container {
        position: relative;
    }
    .container::before {
        background-position: center top;
        background-size: contain;
        content: "";
        display: block;
        height: 3.125rem;
        background-image: url(https://www.utsa.edu/_files/images/backgrounds/bg-waves-border.svg);
        background-color: transparent;
        top: -3.125rem;
        position: absolute;
        width: 100%;
    }
    .container::after {
        content: "";
        display: block;
        height: 8.4375rem;
        background-image: url(https://www.utsa.edu/_files/images/backgrounds/bg-waves.svg);
    }
}
