/* ============================================================
    LISTS
============================================================ */

@use "variables" as *;
@use "sass:math" as math;
@use "sass:color" as color;

ul,
ol {
    margin: 0 1.25rem 1.25rem;

    li {
        line-height: 1.4;
    }
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0;
}

ul.no-bullet,
ol.no-bullet,
ul.inline,
ol.inline,
ul.lines,
ol.lines,
ul.arrow,
ol.arrow {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.indent,
ol.indent {
    margin-left: 3.75rem;
}

ul.inline,
ol.inline {
    li {
        display: inline-block;
    }
}

ul.loose,
ol.loose {
    > li {
        margin-bottom: 0.625rem;
    }

    > li:last-child {
        margin-bottom: 0;
    }
}

ul.lines,
ol.lines {
    > li {
        border-bottom: 1px solid $midnight;
        padding: 0.938rem 0;
    }

    a {
        display: block;
    }
}

ul.arrow,
ol.arrow {
    > li {
        padding-left: 1.25rem;
        position: relative;
    }

    > li::before {
        color: $orange-health;
        content: "\f105";
        font-family: "Font Awesome 7 Pro";
        font-weight: 900;
        left: 0;
        position: absolute;
        top: 0;
    }

    &.journey {
        > li {
            padding-left: 1.5rem;
        }

        > li::before {
            content: "\e002";
            font-family: "Font Awesome Kit";
            font-weight: 400;
            transition: $transition-global;
        }

        > li:hover::before {
            translate: 0.2rem;
        }
    }
}