/* ==============================
    Grid Adjustments
============================== */
.grid.no-gap {
    gap: 0;
}

.grid.align-center {
    align-items: center;
}

.grid.justify-center {
    justify-items: center;
}

/* ==============================
    Padding Helpers
============================== */
// Add -# to muliple the padding size from the default (e.g. padding-2 is 60 because 30x2 = 60)

.padding {
    padding: 30px;
}

.padding-2 {
    padding: 60px;
}

.padding-3 {
    padding: 90px;
}

.padding-4 {
    padding: 120px;
}

.padding-top {
    padding-top: 30px;
}

.padding-top-2 {
    padding-top: 60px;
}

.padding-top-3 {
    padding-top: 90px;
}

.padding-top-4 {
    padding-top: 120px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.padding-bottom-2 {
    padding-bottom: 60px;
}

.padding-bottom-3 {
    padding-bottom: 90px;
}

.padding-bottom-4 {
    padding-bottom: 120px;
}

.padding-top-bottom {
    padding: 30px 0 30px 0;
}

.padding-top-bottom-2 {
    padding: 60px 0 60px 0;
}

.padding-top-bottom-3 {
    padding: 90px 0 90px 0;
}

.padding-top-bottom-4 {
    padding: 120px 0 120px 0;
}

/* ==============================
    Margin Helpers
============================== */
// Add -# to muliple the margin size from the default (e.g. margin-2 is 60 because 30x2 = 60)

// Still need to convert to REM

.margin {
    margin: 30px;
}

.margin-2 {
    margin: 60px;
}

.margin-3 {
    margin: 90px;
}

.margin-4 {
    margin: 120px;
}

.margin-top {
    margin-top: 30px;
}

.margin-top-2 {
    margin-top: 60px;
}

.margin-top-3 {
    margin-top: 90px;
}

.margin-top-4 {
    margin-top: 120px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-bottom-2 {
    margin-bottom: 60px;
}

.margin-bottom-3 {
    margin-bottom: 90px;
}

.margin-bottom-4 {
    margin-bottom: 120px;
}

.margin-top-bottom {
    margin: 30px 0 30px 0;
}

.margin-top-bottom-2 {
    margin: 60px 0 60px 0;
}

.margin-top-bottom-3 {
    margin: 90px 0 90px 0;
}

.margin-top-bottom-4 {
    margin: 120px 0 120px 0;
}

.close-top {
    margin-top: 0;
}

.close-bottom {
    margin-bottom: 0;
}

/* ==============================
    Text Helpers
============================== */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.text-match {
    text-align: match-parent;
}

/* ==============================
    Interactive jump animation
============================== */

//Apply %jump-base to base element
%jump-base {
    transition: 0.3s ease-in-out;
    box-shadow: $shadow;
}

//Apply jump-hover to :hover state
%jump-hover {
    transform: translateY(-0.3rem);
    box-shadow: $shadow-hover;
}

//super secret class shhhhhh
/*.gradient {
    background: linear-gradient(to right, $golden 10%, $orange-main 50%, $midnight 75%;
    ;
}*/
