<h1 class="sans-serif">This is Libre Franklin</h1>
<p><strong>Paragraph sample:</strong>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci possimus
    magnam maiores perferendis esse soluta quod reprehenderit! Perspiciatis
    dolores minima aspernatur neque aperiam magni ullam. Laudantium iure
    voluptatum mollitia adipisci?</p>