<div class="grid-wrapper">
    <div class="grid centered text-center">
        <div class="talavera">
            <h2>column 1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Necessitatibus repellat dignissimos nesciunt, itaque
                reprehenderit repellendus eum quaerat quos vel suscipit illum
                sequi minus maiores error ipsa, est cumque, perferendis
                consequatur.</p>
        </div>
    </div>
</div>