<div class="grid-wrapper">
    <div class="grid cols-6-6 text-center">
        <div class="talavera order-small-2">
            <h2>column 1</h2>
            <p>I am first on the page!</p>
        </div>
        <div class="talavera order-small-1">
            <h2>column 2</h2>
            <p>Shrink the viewport and I will hop in front!</p>
        </div>
    </div>
</div>