<h1>This is Arsenal</h1>
<p class="serif"><strong>Paragraph sample:</strong>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia deleniti
    impedit cupiditate provident blanditiis, itaque molestias nisi! Aspernatur
    placeat dolores, quibusdam, molestiae, repellendus ex optio magni nostrum
    explicabo aliquid fugit?</p>