<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #265bf7;"></span>
        <span class="sg-label">$talavera</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #c8dcff;"></span>
        <span class="sg-label">$rivermist</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #dbb485;"></span>
        <span class="sg-label">$clay</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #a06620;"></span>
        <span class="sg-label">$brass</span>
    </li>
</ul>